body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.koi input[type = "text"],.koi input[type = "password"]{
  border:0;
  background: none;
  margin: 0px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.koi input[type = "text"]:focus,.koi input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

